body {
  background-image: url(../img/fond.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 70px;
}

.panneau {
  background-color: rgba(41, 56, 77, 0.95);
  box-shadow: 0px 2px 3px #000;
  margin: 0px 15%;
}

.contenuPanneau {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  margin: 15px;
  padding: 20px 50px;
}

h1 {
  font-family: "Shadows Into Light", cursive;
  font-size: 3rem;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}

a {
  color: white;
  text-decoration: none;
}
